<h1> Primeira competição do Keagle: Titanic </h1> 

Este é o meu primeiro projeto de Data Science. O objetivo deste projeto é realizar a análise dos dados referentes ao naufrágio do Titanic, disponibilizado pelo Keagle (https://www.kaggle.com/c/titanic). 


Obs: ao selecionar cell>Cell Type>Markdown, essa cell tornou-se própria para escrita de linguagem tipo HTML. dessa forma, é possível formatar o texto com algumas firulas, como <b> negrito </b>, <i> itálico </i>, cabeçalho </h1>, etc. Ainda é possível adicionar imagens, links, embebds, etc.

In [5]:
# Importando bibliotecas

import pandas as pd # permite criar DataFrames para visualizar os dados e trabalhar o codigo
from sklearn.tree import DecisionTreeClassifier #responsavel pela geracao dos modelos em si

In [6]:
###Carregando conjuntos de teste e de treino

train = pd.read_csv('train.txt')
test = pd.read_csv('test.txt')

In [7]:
#Cinco primeiras linhas do conjunto de treino

train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

<h1> Data Dictionary: </h1>    

<b> Survival </b>: yes (1) or no (0)

<b>pclass</b>: ticket class... 1st (1), 2nd (2) or 3rd (3)

<b>sex</b>

<b>Age</b> (years)

<b>sibsp</b>: number of siblings/spounces aboard

<b>parch</b>: of parents/children aboard

<b>ticket</b>: ticket number

<b>fare</b>: passenger fare

<b>cabin</b>: cabin number

<b>embarked</b>: port of embarkation... cherbourg (C), queenstown (Q) or southampton (S)

In [ ]:
# Retirando colunas inúteis a análise, como nome, numero do ticket e número da cabine 

train.drop(['Name', 'Ticket', 'Cabin'], axis=1, inplace = True)
test.drop(['Name', 'Ticket', 'Cabin'], axis=1, inplace = True)

In [10]:
train.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0            1         0       3    male  22.0      1      0   7.2500        S
1            2         1       1  female  38.0      1      0  71.2833        C
2            3         1       3  female  26.0      0      0   7.9250        S
3            4         1       1  female  35.0      1      0  53.1000        S
4            5         0       3    male  35.0      0      0   8.0500        S

In [13]:
#Convertendo variáveis categóricas eme numéricas

#Criacao de novo dataframe a partir do One-hot encoding (metodo "get_dummies" do pandas)
new_data_train = pd.get_dummies(train)
new_data_test = pd.get_dummies(test)

new_data_train.head()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,22.0,1,0,7.2500,0,1,0,0,1
1,2,1,1,38.0,1,0,71.2833,1,0,1,0,0
2,3,1,3,26.0,0,0,7.9250,1,0,0,0,1
3,4,1,1,35.0,1,0,53.1000,1,0,0,0,1
4,5,0,3,35.0,0,0,8.0500,0,1,0,0,1

In [14]:
# Quantidade de valores nulos presente no dataset

# Para entender o comando abaixo:
# new_data_train: indica que utilizaremos esse dataframe
# .isnull(): funcao que retorna todos os valores nulos encontrados
# .sum(): soma todas a ocorrencias e as agrupa
# .sort_values(ascending=False): ordena os dados. "ascending=False" indica ordenacao do maior para o menor

new_data_train.isnull().sum().sort_values(ascending=False).head(10)

Age           177
Embarked_S      0
Embarked_Q      0
Embarked_C      0
Sex_male        0
Sex_female      0
Fare            0
Parch           0
SibSp           0
Pclass          0
dtype: int64

In [17]:
# valores nulos apenas em "age". Solucao: preencher com idade media do dataset

# Preenchendo valores nulos:
# fillna():


new_data_train['Age'].fillna(new_data_train['Age'].mean(), inplace=True)
new_data_test['Age'].fillna(new_data_test['Age'].mean(), inplace=True)

In [18]:
# Verificando valores nulos no conjunto de teste

new_data_test.isnull().sum().sort_values(ascending=False).head(10)

Fare          1
Embarked_S    0
Embarked_Q    0
Embarked_C    0
Sex_male      0
Sex_female    0
Parch         0
SibSp         0
Age           0
Pclass        0
dtype: int64

In [20]:
#Preencendo o valor que falta na coluna "Fare" com a media

new_data_test['Fare'].fillna(new_data_test['Fare'].mean(), inplace=True)

In [25]:
# Definindo features e target

X = new_data_train.drop('Survived', axis = 1)
y = new_data_train['Survived']

In [31]:
# Criacao do modelo

#max_depth: limita a profundidade (numero de perguntas) da arvore de decisao (SciKit Learn)
#fit(): metodo para criar o modelo, cujos argumentos sao os grupos de features (X) e target (y)

tree = DecisionTreeClassifier(max_depth=3, random_state=0)
tree.fit(X, y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=3,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=0, splitter='best')

In [32]:
# Precisao do modelo

tree.score(X, y)

0.8271604938271605

In [33]:
# Criar arquivo de submissao para o Keagle

submission = pd.DataFrame()
submission['PassengerId'] = new_data_test['PassengerId']
submission['Survived'] = tree.predict(new_data_test)

In [35]:
# Exportar dataframe em formato .csv

#to_csv = metodo para exportar em formato .csv
#index=False: nao conta o index como uma coluna... muito importante pra submissao no keagle!

submission.to_csv('submission.csv', index=False)